<%- include('bootheader') -%>

<%- include('menubar') -%>


  <div class="jumbotron">

    <h1> Gopnik trying to deal with STOCK MARKET!! </h1>

    <ul>
      <% if (loggedIn) {%>
      <li><a href="/stock">Buy/Sell Stock as a proper Gopnik! </a></li>
      <li><a href="/stockInfo">See table for selected stock </a></li>
      <% } %>
    </ul>
  </div>
<%- include('bootfooter') -%>

  <!-- Hello World! -->
