

  <div class="jumbotron">

    <h1> Gopnik trying to deal with STOCK MARKET!! </h1>

    <ul>
      <% if (loggedIn) {%>
      <li></li>
      <li><a href="/stock">Buy/Sell Stock as a proper Gopnik! </a></li>
      <% } %>
    </ul>
  </div>

  <!-- Hello World! -->
