

  <div class="jumbotron">
        <h1> See the info for selected stock </h1>
        <form method="post" action="stockInfoPage">
            Index of Stock: <input type="text" name="reqIndex"><br>
            <input type="submit" value="See Table">
        </form>
  </div>
