

  <div class="jumbotron">
    <h1> Stock Holding List for <%= user.googlename %> </h1>

      <form method="post" action="stock">
          Stock Index: <input type="text" name="stockIndex"><br>
          Date of Action: <input type="date" name="time"><br>
          Type of Action: <br>
          Buy <input type="radio" name="actionType" value="1"<br>
          Sell <input type="radio" name="actionType" value="-1"<br><br>
          Share: <input type="number" name="share"><br>
          <input type="submit" value="store">
      </form>

      <% stocks.forEach(stock => {%>
           <a href="/stock/remove/<%=stock._id %>">
               X
           </a>
           ::
           <%= stock.stockIndex %> <%= stock.share %>
          <br>
      <% }) %>

  </div>
